In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
label1 = pd.read_csv('./data/preliminary_train_label_dataset.csv')
label2 = pd.read_csv('./data/preliminary_train_label_dataset_s.csv')
label_df = pd.concat([label1, label2]).reset_index(drop=True)

In [3]:
label_df = label_df.drop_duplicates().reset_index(drop=True)

In [4]:
log_df = pd.read_csv('new_log.csv')

In [5]:
log_df.head()

,sn,time,msg,server_model,msg_lower,msg_id
0,SERVER_25698,2020-10-09 08:32:21,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
1,SERVER_25698,2020-10-09 07:43:48,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
2,SERVER_25698,2020-10-09 08:16:22,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
3,SERVER_25698,2020-10-09 05:46:41,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
4,SERVER_25698,2020-10-09 12:59:13,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0

In [5]:
label_df['fault_time'] = pd.to_datetime(label_df['fault_time'])
log_df['time'] = pd.to_datetime(log_df['time'])

In [7]:
log_df['msg_id'].unique().shape

(1121,)

In [6]:
data = []
for i in tqdm(range(label_df.shape[0])):
    row = label_df.iloc[i]
    sn = row['sn']
    fault_time = row['fault_time']
    tmp = log_df[log_df['sn'] == sn]
    tmp = tmp[(tmp['time'] <= fault_time)].tail(40).sort_values(by='time', ascending=False)
    data.append(np.unique(tmp['msg_id'].values.tolist()))

 20%|█████████████████████▌                                                                                       | 3289/16604 [01:38<06:40, 33.26it/s]

KeyboardInterrupt:

In [ ]:
len(label_df), len(data)

In [ ]:
label_df['msg_ids'] = data

In [ ]:
label_cnt_df = label_df.groupby('label').size().reset_index().rename({0:'label_cnt'},axis=1)

In [ ]:
label_cnt_df.values[0][1]

In [ ]:
from collections import Counter

counters = []
for label, group in label_df.groupby('label'):
    token2count = Counter()
    for i in range(group.shape[0]):
        token2count.update(group.iloc[i]['msg_ids'])
    counters.append(token2count)

In [14]:
tr_data = []
for i in tqdm(range(label_df.shape[0])):
    tr_data.append([])
    row = label_df.iloc[i]
    templates = row['msg_ids']
    for label in range(4):
        probas = [(counters[label][tid] / label_cnt_df.values[label][1]) for tid in templates]
        if len(probas) > 0:
            tr_data[-1] += [np.mean(probas), np.sum(probas), np.max(probas)]
        if len(probas) == 0:
            tr_data[-1] += [0, 0, 0]

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████| 16604/16604 [00:06<00:00, 2703.61it/s]

In [15]:
tr_proba_df = pd.DataFrame(tr_data)

In [19]:
columns = ['mean_proba_0', 'sum_proba_0', 'max_proba_0',
           'mean_proba_1', 'sum_proba_1', 'max_proba_1',
           'mean_proba_2', 'sum_proba_2', 'max_proba_2',
           'mean_proba_3', 'sum_proba_3', 'max_proba_3']

In [20]:
submit_df = pd.read_csv('./data/preliminary_submit_dataset_a.csv')

In [22]:
submit_df['fault_time'] = pd.to_datetime(submit_df['fault_time'])
data = []
for i in tqdm(range(submit_df.shape[0])):
    row = submit_df.iloc[i]
    sn = row['sn']
    fault_time = row['fault_time']
    tmp = log_df[log_df['sn'] == sn]
    tmp = tmp[(tmp['time'] <= fault_time)].tail(40).sort_values(by='time', ascending=False)
    data.append(np.unique(tmp['msg_id'].values.tolist()))

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3011/3011 [01:31<00:00, 33.07it/s]

In [23]:
submit_df['msg_ids'] = data

In [25]:
te_data = []
for i in tqdm(range(submit_df.shape[0])):
    te_data.append([])
    row = submit_df.iloc[i]
    templates = row['msg_ids']
    for label in range(4):
        probas = [(counters[label][tid] / label_cnt_df.values[label][1]) for tid in templates]
        if len(probas) > 0:
            te_data[-1] += [np.mean(probas), np.sum(probas), np.max(probas)]
        if len(probas) == 0:
            te_data[-1] += [0, 0, 0]

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3011/3011 [00:00<00:00, 3075.07it/s]

In [26]:
te_proba_df = pd.DataFrame(te_data)

In [27]:
tr_proba_df.columns = columns

In [28]:
te_proba_df.columns = columns

In [29]:
tr_proba_df.shape, te_proba_df.shape

((16604, 12), (3011, 12))

In [30]:
tr_proba_df.to_csv('tr_proba_df.csv', index=False)

In [31]:
te_proba_df.to_csv('te_proba_df.csv', index=False)

In [32]:
te_proba_df

,mean_proba_0,sum_proba_0,max_proba_0,mean_proba_1,sum_proba_1,max_proba_1,mean_proba_2,sum_proba_2,max_proba_2,mean_proba_3,sum_proba_3,max_proba_3
0,0.271341,0.542683,0.281165,0.277975,0.555949,0.347505,0.118830,0.237661,0.127361,0.147460,0.294919,0.177613
1,0.085874,0.343496,0.261518,0.055728,0.222911,0.208444,0.035810,0.143240,0.110300,0.030979,0.123916,0.117307
2,0.002033,0.002033,0.002033,0.001181,0.001181,0.001181,0.000429,0.000429,0.000429,0.103676,0.103676,0.103676
3,0.161382,0.806911,0.333333,0.171007,0.855034,0.397107,0.109034,0.545172,0.291845,0.114911,0.574556,0.257745
4,0.000790,0.004743,0.001355,0.007135,0.042811,0.012105,0.052593,0.315558,0.072961,0.037588,0.225527,0.068980
...,...,...,...,...,...,...,...,...,...,...,...,...
3006,0.003388,0.003388,0.003388,0.006495,0.006495,0.006495,0.016202,0.016202,0.016202,0.000413,0.000413,0.000413
3007,0.073171,0.073171,0.073171,0.044287,0.044287,0.044287,0.291845,0.291845,0.291845,0.016109,0.016109,0.016109
3008,0.193428,0.386856,0.333333,0.207411,0.414821,0.397107,0.067865,0.135730,0.101180,0.146840,0.293680,0.231309
3009,0.073171,0.073171,0.073171,0.044287,0.044287,0.044287,0.291845,0.291845,0.291845,0.016109,0.016109,0.016109
3010,0.113008,1.695122,0.333333,0.153784,2.306761,0.397107,0.052818,0.792275,0.175966,0.070660,1.059893,0.257745

In [11]:
label_df = pd.concat([label1, label2]).reset_index(drop=True)
label_df = label_df.drop_duplicates().reset_index(drop=True)

In [12]:
label_df.head()

             sn           fault_time  label
0  SERVER_25698  2020-10-09 13:43:00      0
1  SERVER_25699  2020-08-25 18:50:00      0
2  SERVER_25712  2020-03-16 13:20:00      0
3  SERVER_25708  2020-07-25 12:44:00      0
4  SERVER_25711  2020-03-16 16:51:00      0

In [13]:
tr_proba_df = pd.read_csv('tr_proba_df.csv')
tr_proba_df['sn'] = label_df['sn']
tr_proba_df['fault_time'] = label_df['fault_time']
tr_proba_df['label'] = label_df['label']

In [14]:
submit_df = pd.read_csv('./data/preliminary_submit_dataset_a.csv')

In [15]:
te_proba_df = pd.read_csv('te_proba_df.csv')
te_proba_df['sn'] = submit_df['sn']
te_proba_df['fault_time'] = submit_df['fault_time']

In [17]:
tr_proba_df.to_csv('./src/tr_proba_df.csv', index=False)
te_proba_df.to_csv('./src/te_proba_df.csv', index=False)